@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    
    /* Custom Colors based on User Request */
    --color-brand: oklch(54.1% 0.281 293.009);
    --color-brand-hover: oklch(49% 0.26 293.009);
    --color-brand-light: oklch(65% 0.281 293.009);
}
